.theme-dark #scene-express-dropzone {
  --scene-express-border-color: var(--color-light-5);
}

.theme-light #scene-express-dropzone {
  --scene-express-border-color: var(--color-dark-5);
}

#scene-express-dropzone {
  border: 1px solid var(--scene-express-border-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex: 0 0 100px;
  margin: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}