body {
  --scene-express-hover-background-color: var(--color-warm-2);
  --scene-express-hover-text-color: var(--color-light-1);
  --scene-express-hover-border-color: var(--color-light-3);
}

.theme-dark #scene-express-dropzone {
  --scene-express-border-color: var(--color-light-5);
}

.theme-light #scene-express-dropzone {
  --scene-express-border-color: var(--color-dark-5);
}

#scene-express-dropzone {
  border: 1px solid var(--scene-express-border-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex: 0 0 100px;
  margin: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}

#scene-express-dropzone.dragover {
  background: var(--scene-express-hover-background-color);
  color: var(--scene-express-hover-text-color);
  border-color: var(--scene-express-hover-border-color);
}
